
# NetBeans specific #
manifest.mf
#build.xml

nbproject/private
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Class Files #
*.class

# Package Files #
# *.jar
*.war
*.ear

# Exclude all JAR  from files  dist/ directory except jar from other files #
# !*.jar #
# !dist/*.jar opcion si queremos incluir dist directory #

